* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
  margin:0 auto;

}
h1 {
  text-align: center;
  margin: 20px
}
h2 {
  border: 1px solid #000;
}

.chicken-box {
  padding: 10px;
}
.chicken {
  display: inline-block;
  border: 1px solid #000;
  background-color: #999999;
  position: relative;
  width: 100%;
  padding: 30px 10px;
}
.chicken h2{
  position: absolute;
  right: -1px;
  top: -1px;
  width: 150px;
  text-align: center;
  background-color: #d59898;
}
.beef-box {
  padding: 10px;
}
.beef {
  display: inline-block;
  border: 1px solid #000;
  background-color: #999999;
  position: relative;
  width: 100%;
  padding: 30px 10px;
}
.beef h2{
  position: absolute;
  right: -1px;
  top: -1px;
  width: 150px;
  text-align: center;
  color: #fefefd;
  background-color: #c14543;
}
.sushi-box {
  padding: 10px;
}
.sushi {
  display: inline-block;
  border: 1px solid #000;
  background-color: #999999;
  position: relative;
  width: 100%;
  padding: 30px 10px;

}
.sushi-box h2{
  position: absolute;
  right: -1px;
  top: -1px;
  width: 150px;
  text-align: center;
  background-color: #e5d198;
}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }

}

